@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
body .App {
	margin: 0;
	font-family: "Zilla Slab", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(230, 230, 230);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
